<!doctype html>
<title>Screen - pictionary</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<html>

<head>
    <h1>screen</h1>
    <script>
        COMMS = 'socketio'
    </script>
    <script src="socket.io.min.js"></script>
    <script src="socketlogic.js"></script>
    <script src="vue.js"></script>
    <script src="canvas.js"></script>




<body>
    <div id="pictionaryapp">
        <div id='vue-app'>
            <div v-if="nextPlayerScreenMessageVisible" class="modal">
                <div class="modal-content">
                    <img :src="currentplayer.picture">
                    <br>
                    <span class="points">${currentplayer.name}</span> - Please press continue on remote.
                    <div class='pointsinfo'>
                        doesnt have to be always visible just when awaiting nextPlayer
                        <ul class="submenu">
                            <li v-for="team in teams">
                                <span>team: ${team.name}</span> <span class="points">points: ${team.points}</span>
                                <br>players:
                                <ul class="submenu">
                                    <li v-for="player in team.players"
                                        :class="{currentPlayer:player.id === currentplayerindex}">

                                        ${player.name}

                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <canvas :class="{pausedCanvasStyle:paused}" id="pictionary" height="300" width="400">
            </canvas>
            <div class="timer">${timeleftMMSS}</div>
            <div v-if="guessedScreenVisible" class="teamsbtns">
                <button v-for="team in teams" @click="pointGoesTo(team)">
                    ${team.name}
                </button>
            </div>

            <!-- TODO
            1
            each screen has to be updated on all that happened when it was off
            if player had turned on first screen will not now about teams
            consider using all data packaged and sent on welcome new screen
            serv sends we_need_full_update players respond with full update and server distributes it to screens
            MESSSAGE
            2
            socket event disconnect should propagate among other connections
            3
            time counter on both sides 
        4 
        easthetical fixes
        -->
            <div v-if="msgvisible" class="modal">
                <div class="modal-content">
                    <span class="close" @click="msgvisible = false">&times;</span>
                    <p>${textShownMsg}</p>
                </div>

            </div>
            <div class='pointsinfo'>
                doesnt have to be always visible just when awaiting nextPlayer
                <ul class="submenu">
                    <li v-for="team in teams">
                        team: ${team.name}
                        <br>points: ${team.points}
                        <br>players:
                        <ul class="submenu">
                            <li v-for="player in team.players">
                                ${player.name}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <script>
        function TeamsFactory(initialId = 0) {
            this.nextId = initialId;
            this.teams = [];
        }

        function Team(ob) {
            this.name = ob.name,
                this.id = ob.id,
                this.players = ob.players,
                this.points = ob.points
        }

        Team.prototype.jso = function () {
            return {
                name: this.name,
                id: this.id,
                points: this.points
            }
        }
        TeamsFactory.prototype.createTeam = function (ob) {
            let t = new Team({
                name: ob.name,
                id: this.nextId++,
                players: ob.players,
                points: ob.points
            })
            this.teams.push(t);
            return t;
        }

        function PlayersFactory(initialId = 0) {
            this.nextId = initialId;
            this.players = [];
        }

        function Player(ob) {
            this.id = ob.id,
                this.name = ob.name,
                this.picture = ob.picture,
                this.teamId = ob.teamId;
        }
        Player.prototype.jso = function () {
            return {
                name: this.name,
                id: this.id,
                picture: this.picture,
                teamId: this.teamId
            }
        }

        PlayersFactory.prototype.createPlayer = function (ob) {
            let p = new Player(ob)
            p.id = this.nextId++
            this.players.push(p)
            return p
        }


        var teamsFactory = new TeamsFactory(0);
        var playersFactory = new PlayersFactory(0);


        function recv_display_drawn_line(draw_data) {
            console.log("received:" + JSON.stringify(draw_data))
            drawLine(ctx, draw_data.x, draw_data.y, null, true, draw_data.up)
        }

        function initCanvasAndSocketIO() {
            // Get the specific canvas element from the HTML document
            canvas = document.getElementById('pictionary');

            // If the browser supports the canvas tag, get the 2d drawing context for this canvas
            if (canvas.getContext)
                ctx = canvas.getContext('2d');

            // Check that we have a valid context to draw on/with before adding event handlers
            if (ctx) {
                canvas.style.width = document.body.clientWidth;
                canvas.style.height = document.body.clientHeight;
                ctx.webkitImageSmoothingEnabled = false;
                ctx.mozImageSmoothingEnabled = false;
                ctx.imageSmoothingEnabled = false;
                initSocketIO('screen') // function in socketlogic.js
            }
        }

        v = new Vue({
            delimiters: ['${', '}'], // to avoid clash with Jinja2 moustaches
            el: '#vue-app',
            data: {
                timerID: null,
                gameStarted: false,

                guessedScreenVisible: false,
                pointGoesToScreenVisible: false,
                nextPlayerScreenMessageVisible: false,
                // newTeam: {
                //                 name: "",
                //                 players: [],
                //                 points: 0
                //             },
                //             newPlayer: {
                //                 name: '',
                //                 picture: ``,
                //                 teamId: null,
                //             },
                teamThatWon: null,
                menuopened: false,
                socket: null,
                paused: false,
                teams: teamsFactory.teams,
                players: playersFactory.players,
                fullMesh: fullMesh,
                timeleft: null,
                options_roundTime: 120,

                alert: true,
                msgvisible: false,
                textShownMsg: '',

                currentplayer: null,
                currentplayerindex: null,
            }, // end of data
            mounted() {
                initCanvasAndSocketIO()
                this.socket = socket // this is if html served from python not from external cloud
                // in case of external site this site must know what ip address of Game Master is
                /*7this.socket.on('draw', (msg) => {
                    console.log("Received:", msg.data)
                    newDrawPosition = msg.data;
                    this.updateLocalMesh(newDrawPosition)
                })
                */

                socket.on('welcome_new_remote', (msg) => {
                    console.log("welcome_new_remote:", msg.data)

                });
                socket.on('display_drawn_line', (msg) => {
                    console.log("Received display_drawn_line:", msg.data)
                    recv_display_drawn_line(msg.data);
                });
                socket.on('addNewTeam', this.addNewTeam)
                socket.on('addNewPlayer', this.addNewPlayer)
                socket.on('options_roundTime', this.set_options_roundTime)
                socket.on('guessed', this.guessed)
                socket.on('guessedPause', this.guessedPause)
                socket.on('pointGoesTo', this.pointGoesTo)
                socket.on('next_player', this.next_player)
                socket.on('nextPlayerConfirmed', this.nextPlayerConfirmed)
                socket.on('pause', this.pause)
                socket.on('unpause', this.unpause)
                socket.on('fullState', this.fullState)
                socket.on('resetState', this.resetGame)
                socket.on('cc', this.clearCanvas)
                //todo start timer

            }, // end of mounted
            watch: {
                timeleft(nuVal) {
                    if (nuVal === 0) {
                        this.onTimesUp();
                    }
                }
            },
            computed: {
                timeleftMMSS() {
                    return this.formatTime(this.timeleft)
                },
            },
            methods: {
                resetGame(socketmsgs) {
                    teamsFactory = new TeamsFactory(0);
                    playersFactory = new PlayersFactory(0);
                    fullMesh = [];
                    canvas_clearCanvas();
                    clearInterval(this.timerID);


                    this.timerID = null;
                    this.gameStarted = false;
                    this.addTeamVisible = false;
                    this.addPlayerVisible = false;
                    this.timeSettingVisible = false;
                    this.selectteamsvisible = false;
                    this.teamsbtnsvisible = false;
                    this.nextPlayerMessageVisible = false;
                    this.newTeam = {
                        name: "",
                        players: [],
                        points: 0,
                    };
                    this.newPlayer = {
                        name: '',
                        picture: ``,
                        teamId: -1,
                    };
                    this.teamThatWon = null;
                    this.menuopened = false;
                    this.paused = false;
                    this.fullMesh = fullMesh;

                    this.teams = teamsFactory.teams;
                    this.players = playersFactory.players;
                    this.fullMesh = fullMesh;

                    this.timeleft = null;
                    this.c_options_roundTime = 120;
                    this.currentplayer = null;
                    this.currentplayerindex = null;
                    this.alert = true;
                    this.msgvisible = false;
                    this.textShownMsg = '';
                    socket.emit('resetStateServer', {
                        data: 1
                    })
                },
                fullState(socketmsg) {
                    d = socketmsg.data;
                    const ans = prompt('download all data from server?', "ok")
                    if (!ans && !ans.length && ans === "no") {
                        return;
                    }


                    Object.entries(d).forEach(([key, value]) => {
                        console.log(`${key} ${value}`); // "a 5", "b 7", "c 9"
                        this[key] = value
                    });
                },
                guessedPause(socketmsg) {
                    this.paused = !this.paused;
                },
                formatTime(time) {
                    let mins = time % (60 * 60);
                    let minutes = Math.floor(mins / 60);

                    let secd = mins % 60;
                    let seconds = Math.ceil(secd);
                    if (seconds < 10) {
                        seconds = `0${seconds}`;
                    }
                    return `${minutes}:${seconds}`;
                },
                startGame(socketmsg) {
                    if (!(this.players.length > 0 && this.teams.length > 1)) {
                        this.showMsg('not enough players and teams !!')
                        return;
                    }
                    if (!this.gameStarted) {
                        this.gameStarted = true;
                        this.currentplayerindex = -1;

                    };
                },
                startTimer() {
                    this.resetClock();
                    this.paused = false;
                    this.timerID = setInterval(() => {
                        if (!this.paused) {
                            this.timeleft -= 1
                        }
                    }, 1000);
                },
                onTimesUp() {
                    clearInterval(this.timerID);
                    resetClock();
                },
                getPlayerTeam(player) {
                    return this.teams[player.teamId];
                },
                unpause(socketmsg) {
                    this.paused = false
                },
                // this is not received over socket, only used locally if needed
                showMsg(msg, alert = true) {
                    this.alert = alert;
                    this.msgvisible = true;
                    this.textShownMsg = msg;
                    setTimeout(() => {
                        this.msgvisible = false
                    }, 2000)
                },
                addNewTeam(socketmsg) {
                    rcvdTeam = socketmsg.data;
                    rcvdTeam.players = [];
                    console.log(rcvdTeam);
                    let nuTeam = teamsFactory.createTeam(rcvdTeam)
                    this.showMsg('new team created: ' + nuTeam.name);
                },
                addNewPlayer(socketmsg) {
                    rcvdPlayer = socketmsg.data;
                    console.log(rcvdPlayer)
                    let nuPlayer = playersFactory.createPlayer(rcvdPlayer);
                    let plrTeamId = rcvdPlayer.teamId
                    let plrTeam = this.teams[plrTeamId]
                    plrTeam.players.push(
                        nuPlayer); // dont f9rget to push him to teh team on the screen side
                    // how to send new Player's team over socket, without circular dependencies ? 
                    // try to assign id (array index)
                    this.showMsg(
                        'new player:' + nuPlayer.name +
                        ' created in team:' + plrTeam.name);
                },
                set_options_roundTime(socketmsg) {
                    let val = socketmsg.data;
                    console.log('rcvd timeset:' + val)
                    this.options_roundTime = parseInt(val);

                    let msgtime = this.formatTime(this.options_roundTime)
                    this.showMsg(`turn time has been set to ${msgtime}`)
                },
                guessed(socketmsg) {
                    this.guessedScreenVisible = true;
                },
                pointGoesTo(socketmsg) {
                    let team = this.teams[socketmsg.data];
                    this.guessedScreenVisible = false;
                    team.points++;
                    this.teamThatWon = team;
                    this.pointGoesToScreenVisible = true;
                },
                next_player(socketmsg) {
                    // avoid repeating!!!! 
                    //other events are sent and will invoke some functions invoked inside 

                    // removed resetClock receiver

                    // cycle through players(teams)array
                    this.clearCanvas();
                    this.resetClock();
                    // TODO: like with setting time , screen needs to know what players and teams are available
                    // this.currentplayerindex = this.currentplayerindex === this.players.length - 1 ?
                    //     0 : this.currentplayerindex + 1;
                    // this.currentplayer = this.players[this.currentplayerindex];
                    this.currentplayerindex = socketmsg.data;
                    this.currentplayer = this.players[this.currentplayerindex];
                    this.showNextPlayerMessage();
                    //this.showMsg("next Player " + this.currentplayer.name);
                },
                showNextPlayerMessage() {
                    this.nextPlayerScreenMessageVisible = true;
                },
                nextPlayerConfirmed(socketmsg) {
                    this.nextPlayerScreenMessageVisible = false;
                    this.startTimer()
                },
                resetClock() {

                    this.timeleft = this.options_roundTime;
                    clearInterval(this.timerID);
                },
                pause(socketmsg) {
                    this.paused = true; //stops clock and canvas
                    this.showMsg("paused")
                },

                clearCanvas() {
                    // call canvas api
                    // function
                    canvas_clearCanvas()
                    // this.saveDrawingToDB(); //should be done byscreen or server 
                },
                DONEINSCREENupdateLocalMesh(newDrawPosition) {
                    this.last_received_position = newDrawPosition;
                    //{id,x,y}; when deleting use id to identify what was deleted
                    this.localMesh.push(newDrawPosition);
                },
                DONEBYCANVASsendLastDrawnDot() {
                    //# if somebody accidentally gets disconnected  we need to keep copy of all drawn and deleted dots?
                    console.log("sending drawn dot:" + this.tosay);
                    this.socket.emit('draw', {
                        data: this.lastDrawnDot
                    })
                    this.tosay = "";
                },

            }, // end of methods
        })
    </script>
    </div>
    <style>
        span {
            border: 1px solid sandybrown;
            margin: 10px;
        }

        .points {
            font-size: 2em;
        }

        .currentPlayer {
            font-size: 1em;
            background-color: rgb(245, 204, 169);
            border: 1px solid sandybrown;
        }


        body,
        html {
            margin: 0px;
            padding: 0px;
        }

        .submenu {
            border: 2px solid #888;
            background-color: aliceblue;
            padding: 5px;
            margin: 5px;
        }


        #pictionaryapp {
            /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }



        #pictionary {
            height: 68vw;
            width: 90vw;
            border: 2px solid #888;
            border-radius: 4px;
            position: relative;
            /* Necessary for correct mouse co-ords in Firefox */
        }

        canvas {
            image-rendering: optimizeSpeed;
            image-rendering: -moz-crisp-edges;
            image-rendering: -webkit-optimize-contrast;
            image-rendering: -o-crisp-edges;
            image-rendering: crisp-edges;
            -ms-interpolation-mode: nearest-neighbor;
        }

        .timer {
            font-size: 3em;
        }

        .modal {
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fafafa;
            margin: auto;
            padding: 10px;
            border: 1px solid #888;
            width: 80%;
        }

        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }


        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .pausedCanvasStyle {
            opacity: 0.3;
            pointer-events: none;
            background-color: gray;
        }
    </style>
</body>

</html>